= simple_form_for(location, url: import_locations_path, html: { class: 'form-horizontal' }) do |form|
  = form.input :csv, as: :file, input_html: { class: "form-control" }
  = form.button :submit, "Upload CSV", input_html: { class: "form-control"}